<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--  扫描表现层实例   -->
    <!--
        base-package: 扫描的包路径
        use-default-filters: 关闭默认的过滤器
        include-filter: 只处理@Controller表现层实例
    -->
    <context:component-scan base-package="com.javakc.ssm" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--
        启用spring mvc注解配置
        @ResponseBody, @DateTimeFormat
    -->
    <mvc:annotation-driven/>

    <!--
        视图解析器
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--  文件路径前缀   -->
        <property name="prefix" value="/"/>
        <!--  文件类型后缀  -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 设置文件上传配置 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 文件上传头部编码 -->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 上传文件大小限制  1024*1024*30(30M) -->
        <property name="maxUploadSize" value="31457280"/>
        <!-- 读取文件到内存中最大的字节数，默认是1024 -->
        <property name="maxInMemorySize" value="2048"/>
        <!-- 文件上传暂存目录，文件上传完成之后会清除该目录 -->
        <property name="uploadTempDir" value="upload/temp"/>
    </bean>

</beans>