<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javakc.ssm.logger.dao.LoggerDao">

    <insert id="insert" parameterType="LoggerEntity">
        insert into ssm_logger(user_id, controller_name, method_name, remote_addr, create_time, error, type)
            values(#{userId}, #{controller}, #{method}, #{remoteAddr}, #{createTime}, #{error}, #{type})
    </insert>

</mapper>